@charset "utf-8";
.container header {
    background-color: #3911DA;
}
.container header nav {
    background-color: #3911DA;
}
.container #hero {
    background-image: url(images/3.jpg);
}
.container #about {
    background-image: -webkit-linear-gradient(270deg,rgba(234,237,102,1.00) 0%,rgba(249,255,248,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(234,237,102,1.00) 0%,rgba(249,255,248,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(234,237,102,1.00) 0%,rgba(249,255,248,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(234,237,102,1.00) 0%,rgba(249,255,248,1.00) 100.00%);
}
.container .banner  {
    background-image: url(images/3.jpg);
}
.container .copyright {
    background-color: #B016AD;
}
.container #contact {
    background-color: #811012;
}
